body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;

  
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  background-color: rgb(133, 201, 148);
  margin: auto;
  height: 75px;
  
  
}

.Navbar a {
  text-decoration: none;
}


.textoFlotante {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../assets/img/carrito-de-compras.png);
  font-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  text-align: center;
  line-height: 45px;
  color: rgba(201, 42, 37, 0.879);
}

.titulos {
  font-size: 35px;
  color: cadetblue;
  display: flex;
  justify-content: center;
}

.detalles {
  margin: auto;
}

.carimg {
  max-width: 250px;
  max-height: 250px;
}

.welcome {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.catalogo {
  border: 3px solid black;
  width: 800px;
  padding:30px;
  margin: 15px;
}
